@import "flat-colors";
@import "mixins";
@import "media";
@import url('https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker|Roboto:300,400');

body {
  background: $flat-gray-1;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.logo {
  height: 40px;
  // margin: 0 auto;
}

.title {
  margin-left: 20px;
  color: white;
  font-family: 'Permanent Marker', 'Helvetica Neue', sans-serif;
  font-size: 2em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $flat-gray-4;
  height: 60px;
  padding: 0 40px;
}

.btn {
  @include btn-input-style;
  padding: 10px;
  min-height: 35px;
  min-width: 50px;
  background: transparent;
  color: $flat-blue-1;
  border: 1px solid $flat-blue-1;
  font-weight: lighter;

  &:hover {
    background: lighten($flat-blue-1, 10%);
    color: $flat-gray-1;
  }
}

.btn-submit {
  background: #FAFAFA;
  background: transparent;
  color: $flat-green-4;
  border: 1px solid $flat-green-4;
  margin: 0 10px;

  &:hover {
    background: $flat-green-4;
    color: $flat-gray-1;
  }
}

.form-container {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 800px;
}

 .folder-icon {
   margin-right: 10px;
 }



.folder-btn {
  @include btn-input-style;

  margin: 10px;
  padding: 10px;
  background: transparent;
  border: 1px solid $flat-gray-4;
  color: $flat-gray-4;
  font-weight: lighter;
  font-size: 1.5em;

   .delete-folder-btn {
    float: right;
    margin-left: 15px;
    font-size: .75em;
    height: 10px;

      &:hover {
        color: $flat-red-1;
      }
   }

  &:hover {
    background-color: $flat-gray-2;
    color: lighten($flat-gray-1, 10%);
    border-color: transparent;
  }

   &.active {
    background-color: $flat-gray-3;
    color: $flat-gray-1;
    border-color: transparent;

    &:hover {
      background-color: lighten($flat-gray-3, 10%);
      color: $flat-gray-1;

    }

    &:active {
      background-color: $flat-orange-2;
      color: $flat-gray-1;
    }
  }

  &:active {
      background-color: $flat-gray-2;
      color: $flat-gray-1;
  }
}

.created-at {
  color: $flat-gray-2;
}

.input {
  @include btn-input-style;
  padding: 5px;
  height: 20px;
  border: 1px solid $flat-gray-2;
}

#folders {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
}

#urls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.content {
  margin: 0 40px;
}

hr {
  z-index: 999;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.card {
  width: 300px;
  height: 160px;
  border-radius: 5px;
  border: 1px solid $flat-gray-1;
  margin: 10px;
  background: lighten($flat-gray-1, 4%);
  padding: 20px;

  &:hover {
    background: lighten($flat-gray-1, 15%);
  }
}

.url-link {
  display: block;
  height: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $flat-blue-3;

  &:hover {
    color: $flat-blue-2;
    text-decoration: underline;
  }
}

.url-short {
  margin: 1em 0;
  display: block;
  text-decoration: none;
  color: $flat-gray-4;

  &:hover {
    color: $flat-blue-2;
    text-decoration: underline;
  }
}


.delete-url-btn {
  display: block;
  float: right;
  color: $flat-gray-2;

  &:hover {
    color: $flat-alizarin;
  }
}

.btn-sort {
  margin: 0 10px;
}


.visits {
  font-weight: lighter;
  color: $flat-gray-2;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $flat-gray-2;
  font-weight: lighter;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $flat-gray-2;
  font-weight: lighter;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $flat-gray-2;
  font-weight: lighter;
}
:-moz-placeholder { /* Firefox 18- */
  color: $flat-gray-2;
  font-weight: lighter;
}