@import url("https://fonts.googleapis.com/css?family=Baloo|Roboto");
body {
  background: #FAFAFA;
  font-family: 'Roboto', sans-serif; }

.title {
  margin-top: 0;
  padding-top: 5px;
  color: #ECF0F1;
  font-family: 'Baloo', sans-serif; }

.header {
  background: #7F8C8D;
  height: 50px;
  padding: 0 40px; }

.btn {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  min-height: 35px;
  min-width: 50px;
  background: #3498DB;
  color: #ECF0F1; }
  .btn:hover {
    background: #5faee3;
    color: #ECF0F1; }

.btn-submit {
  background: #27AE60;
  color: #ECF0F1; }
  .btn-submit:hover {
    background: #2ECC71; }

.form-container {
  display: flex;
  align-items: center; }

.folder-btn {
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0 20px;
  padding: 10px;
  background: transparent;
  color: #7F8C8D; }
  .folder-btn:hover {
    background-color: #ECF0F1;
    color: #7F8C8D; }
  .folder-btn.active {
    background-color: #F39C12;
    color: #ECF0F1; }
    .folder-btn.active:hover {
      background-color: #F1C40F;
      color: #ECF0F1; }
    .folder-btn.active:active {
      background-color: #E67E22;
      color: #ECF0F1; }
  .folder-btn:active {
    background-color: #BDC3C7;
    color: #ECF0F1; }

.input {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  height: 20px;
  border: 1px solid #BDC3C7; }

#folders {
  display: flex;
  justify-content: space-around; }

.content {
  margin: 0 40px; }
